* {
    margin: 0;
    padding: 0;
}

a {text-decoration: none;}
ul {list-style-type: none;}

@font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 300;
    src:
        local("TitilliumWeb-Light"),
        local("Titillium Web Light"),
        url(/fonts/TitilliumWeb-Light.woff2),
        url(/fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 400;
    src:
        local("TitilliumWeb"),
        local("Titillium Web"),
        url(/fonts/TitilliumWeb-Regular.woff2),
        url(/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 600;
    src:
        local("TitilliumWeb-SemiBold"),
        local("Titillium Web SemiBold"),
        url(/fonts/TitilliumWeb-SemiBold.woff2),
        url(/fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 700;
    src:
        local("TitilliumWeb-Bold"),
        local("Titillium Web Bold"),
        url(/fonts/TitilliumWeb-Bold.woff2),
        url(/fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: "Titillium Web";
    font-style: italic;
    font-weight: 400;
    src:
        local("TitilliumWeb-Italic"),
        local("Titillium Web Italic"),
        url(/fonts/TitilliumWeb-Italic.woff2),
        url(/fonts/TitilliumWeb-Italic.ttf);
}

/*------common---------*/

.width-wrapper {
    outline: 1px dotted red;
    max-width: 1102px;
    margin: 0 auto 0 auto;
}

.btn {
    width: 293px;
    height: 70px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 -4px rgba(0, 0, 0, 0.14);
    display: block;
    margin: 0 auto;
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.btn:active {
    box-shadow: inset 0 -4px rgba(0, 0, 0, 0.28);
}

.title {
    font-family: 'Titillium Web';
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 48px;
    color: #3c4761;
}

.title--white {
    color: #ffffff;
}

title:after {
    content: "";
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: #000000;
    padding: 21px 0 23px 0;

}

.about {
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    color: #3c4761;
}

.about--white {
    color: #ffffff;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item-block {
    width: 260px;
    text-align: center;
    margin-top: 63px;
}

.item-block__description {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description__name {
    font-family: 'Titillium Web';
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #27283d;
}

.description__name--white {
    color: #ffffff;
}

.description__content {
    font-family: 'Titillium Web';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #3c4761;
    margin-top: 26px;
}

.description__content--white {
    color: #ffffff;
}

/*-------header---------*/

.header {
    background-color: #87509c;
    padding: 57px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 118px;
    height: 37px;
    margin-left: 41px;
}

.menu__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links__item {
    margin: 0 10px;
    padding: 10px 17px 9px 17px;
}

.links__item:hover {
    background-color: #643a79;
    border-radius: 5px;
}

.links__item a {
    font-family: "Titillium Web";
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

/*-----------welcome---------*/
.welcome {
    background-color: #87509c;
    padding: 88px 0 145px 0;
}

.hi-there {
    margin: 0 96px 54px 96px;
    text-align: center;
    font-family: 'Titillium Web';
    font-size: 42.2px;
    line-height: 48px;
    font-weight: 700;
    color: #f7f3ea;
}

.btn__work-with-us {
    background-color: #eb7d4b;
}

/*-------services-------*/
.services {
    background-color: #17c2a4;
    padding: 119px 0 128px 0;
}

/*--------team-------------*/
.team {
    background-color: #e7f1f8;
    padding: 119px 0 128px 0;
}

.item-block__image--team {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: #878787;
    background-size:  200px 200px;
    border-radius: 50%;
}

.description__position {
    font-family: 'Titillium Web';
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #30bae7;
    margin-top: 15px;
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contacts-container a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #bdd1df;
    margin: 0 6px 0 6px;
}

.contact--fb {
    background: url(/images/icon_facebook.png) no-repeat 50% 50%;
}

.contact--tw {
    background: url(/images/icon_twitter.png) no-repeat 50% 50%;
}

.contact--lin {
    background: url(/images/icon_linkedin.png) no-repeat 50% 50%;
}

.contact--e-mail {
    background: url(/images/icon_mail.png) no-repeat 50% 50%;
}

/*-------skills--------*/
.skills {
    padding: 119px 0 128px 0
}

.diagram {
    width: 160px;
    height: 160px;
    margin: 0 auto 32px;
}

.diagram--90 {
    background: url(/images/base_90.png) no-repeat;
}

.diagram--75 {
    background: url(/images/base_75.png) no-repeat;
}

.diagram--70 {
    background: url(/images/base_70.png) no-repeat;
}

.diagram--85 {
    background: url(/images/base_85.png) no-repeat;
}

.diagram__value {
    text-align: center;
    vertical-align: middle;
    width: 160px;
    font-family: 'Titillium Web';
    font-size: 50px;
    line-height: 153px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #3c4761;
}

.diagram span{
    font-size: 32px;
}

/*-------portfolio----------*/
.portfolio {
    background-color: #ffdd99;
    padding: 120px 0 109px 0;
}

.menu__links.menu__links--porfolio {
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.links__item--porfolio {
    margin: 0 5px;
    padding: 12px 23px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.07);
    color: #393939;
}

.links__item--porfolio a{
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #393939;
}

.links__item--porfolio:hover {
    background-color: #ffffff;
}



.item-block.item-block--portfolio {
    width: 541px;
}

.description__name--porfolio {
    margin-top: 32px;
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #393939;
}

.btn__more-projects {
    margin-top: 83px;
    background-color: #17c2a4;
}

/*-------testimonials----------*/
.testimonials {
    background-color: #d74680;
    padding: 119px 0 54.5px 0;
}

.items-container--testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonials-block {
    padding-left: 144px;
    width: 370px;
    margin: 73.5px 0;
}

.testimonials-block::before {
    content: "";
    width: 96px;
    height: 96px;
    background-color: #787878;
    border-radius: 50%;
    position: absolute;
    margin-left: -144px;
}

.feed-back {
    font-family: 'Titillium Web';
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.author {
    font-family: 'Titillium Web';
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 28px;
}

.author-position {
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffdd99;
}

/*-----get-in-touch------*/
.get-in-touch {
    background-color: #3c5499;
    padding: 120px 0 115px;
}

.form {
    width: 860px;
    margin: 76px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field {
    position: relative;
    margin: 13.5px 0;
}

.field--small {
    width: 414px;
    height: 56px;
}

.field--big {
    width: 860px;
    min-height: 200px;
}

.field__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #273a71;
    border: none;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 25px;
    resize:vertical;
}

.field__input--big {
    padding-top: 15px;
}

.field__input:focus {
    outline: 1px solid #1b2d63;
}

.field__placeholder {
    position: absolute;
    left: 0;
    top: 15px;
    margin-left: 22px;
    font-family: 'Titillium Web';
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    transition: 0.1s;
}

.field__placeholder span {
    color: #ff4444;
}

.field__input:placeholder-shown:focus ~ .field__placeholder,
.field__input:not(:placeholder-shown) ~ .field__placeholder {
    top: -25px;
    left: -20px;
}

.btn__send-message {
    margin-top: 59px;
    background-color: #30bae7;
}

/*-------footer-------*/
.footer {
    background-color: #344b8e;
    padding: 48px 0 41px 0;
}

.footer__links {
    display: flex;;
    justify-content: center;
}

.link a{
    font-family: 'Titillium Web';
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.link a:hover {
    color: #30bae7;
}

.link:not(:last-child) {
    margin-right: 57px;
}